.BackgroundAtmosphere {
    position: absolute;
    width: 100%;
    height: 600%;
    left: 0px;
    bottom: 0%;
    background: linear-gradient(to top, #67ffeb 0%, #3fb2ff 15%, #000000 100%);
    z-index:0;
}

.Background {
    position: absolute;
    width: 100%;
    height: 300%;
    bottom:0px;
    overflow: hidden;
}


.DivBackgroundClouds {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;
}

.cloud{
    position:absolute;
    z-index:2;
    left: 0px;
    opacity: 0.95;
    background-image: url("Graphics/Clouds.png");
    background-repeat: no-repeat;
    animation-name: CloudLoop;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    overflow: visible !important;
}

@keyframes CloudLoop {
    0% {margin-left:-50%;}
    100% {margin-left: 100%;}
  }

.DivBackgroundEnvironment {
    position: absolute;
    width: 100%;
    height: 400px;
    bottom: 0px;
    left: 0px;
    background-image: url('Graphics/groundBG.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.rocket {
    position: absolute;
    height: 25%;
    width: 500px;
    z-index: 3;
    bottom: 115px;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible !important;
    /* background-color: green; */
    animation-name: rocketShake;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes rocketShake {
    0% {margin-left: 0px; margin-top: 0px;}
    25% {margin-left: 0.7px; margin-top: -0.7px;}
    50% {margin-left: -0.3px; margin-top: 1px;}
    75% {margin-left: -0.6px; margin-top: 0.3px;}
    100% {margin-left: 0.3px; margin-top: -0.7px;}
  }

.rocketImage {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: auto;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0%);

}

.rocketDome {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: auto;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 0%);
}

.RocketPlayerHolder {
    position: absolute;
    /* background-color: #ff000059; */
    z-index: 10;
    bottom: 35%;
    left: 50%;
    height: 29.5%;
    aspect-ratio: 0.52;
    border-radius: 5px;
    transform: translate(-50%, 0%);
}

.rocketBlast
{
    position: absolute;
    top: 50%;
    height: 100%;
    width: auto;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: visible;
    animation-name: boosterAnim;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.rocketBlastOffset
{
    position: absolute;
    top: 50%;
    height: 100%;
    width: auto;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0%) scaleX(-1);
    overflow: visible;
    animation-name: boosterAnim;
    animation-duration: 0.1s;
    animation-delay: 0.05s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes boosterAnim {
    from {opacity: 0; filter: saturate(200%); height:100%;}
    to {opacity: 1; filter: saturate(1000%); height:80%;}
  }

/* .rocketExplosion {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

.explosion{
    position: fixed;
    width:736px;
    height:614px;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, -50%);
    background-image: url('Graphics/BlastSprite.png');
    background-repeat: no-repeat;
    z-index:5;
    background-position: 0px;
    animation-name: explosionAnim;
    animation-duration: 2s;
    animation-timing-function: steps(21);
    animation-iteration-count:1;
}

@keyframes explosionAnim {
    0% {
        background-position: 0px;
        opacity:1;
    }

    100% {
        background-position: -15456px;
        opacity:0.8;
    }
}

.stars {

    position: absolute;
    top: -250px;
    background: rgba(255, 255, 255, 0.153);
    animation: starsanim linear infinite;
    /* z-index: 150; */

}

.PoppedPlayer {
    animation: PoppedPlayerAnim;
}

@keyframes PoppedPlayerAnim {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }

    100% {
        transform: translateY(300vh) translateX(300vw) rotate(1200deg);
    }
}

@keyframes starsanim {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(200vh);
    }
}

#GalaxyBG{
    position: fixed;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    background-image: url('Graphics/Stars.jpg');
    background-repeat:repeat;
    background-size: 1920px 1920px;
    /* background-position: 0px 0px; */
    z-index:2;
    mix-blend-mode:hard-light;
    opacity:0;
}