body,html {
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* background:#111; */
    background: #106ca1;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* WebKit */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #ffffff25;
    /* or any color you prefer */
}


#ProfileArea {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}

#GameArea {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 80;
    overflow: hidden;
}

#ParticipantsArea {
    position: fixed;
    width: 320px;
    height: calc(100% - 110px);
    right:0px;
    top: 90px;
    z-index: 101;
    display:none;
    border-radius: 10px 0px 0px 10px;
    background-color: #222222;
    border: 1px solid #333;
}

#BettingControlsArea {
    position: fixed;
    max-width: 100%;
    width: auto;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    bottom: 20px;
    border-radius: 20px;
    background-color: #222222cc;
    border: 1px solid #333;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 100;
    display: none;
}

#OptionsMenuBtn
{
    position: fixed;
    left:20px;
    top:25px;
    width:40px;
    height:40px;
    font-size: 30px;
    font-weight: 900;
    z-index:100;
    cursor: pointer;
    background-color: #222222cc;
    color: white;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #333;
}

#PlayerBetsLauncher
{
    position: fixed;
    right:0px;
    top:50%;
    width:40px;
    height:auto;
    width:40px;
    padding-right:5px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    font-size: 20px;
    font-weight: 700;
    z-index:100;
    cursor: pointer;
    background-color: #222222cc;
    color: white;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    border: 1px solid #333;
    transform: translate(0%, -50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    writing-mode: vertical-rl; /* vertical right-to-left */
    text-orientation: mixed; /* for better compatibility */
    white-space: nowrap; /* to prevent wrapping */
}

#PlayerBetsLauncher::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right:calc(100% - 12px);
    margin-top:-10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 0px solid transparent;
    border-right: 10px solid rgb(113, 113, 113);
}

#ClosePlayerBetsUI
{
    position: absolute;
    width:20px;
    height:20px;
    left:-10px;
    top:-10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    padding:5px;
    font-weight: 1000;
    cursor:pointer;
    z-index:102;
}

.GameBtns {
    position: relative;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
    margin-bottom:5px;
    margin-top:5px;
}

#MakeBet_btn {
    background-color: aquamarine;
    margin-left: calc(50% - 60px);
}

#CashOut_btn {
    background-color: darkorange;
    margin-left: 0px;
    float:left;
}

.ControlLabels {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.838);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px;
    padding-right:0px;
}

#Game_BetAmountInput,
#Game_CashOutMultiplierInput {
    width: 80px;
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    text-align: center;
    background-color: #fffc;
    margin-top:6px;
    margin-left:6px;
}

#Game_BetAmountInput:disabled,
#Game_CashOutMultiplierInput:disabled {
    background-color: #fff5;
}

#Game_CashOutMultiplierCheck {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top:5px;
    margin-left:10px;
    background-color:#999;
}

.ctrlGrp
{
    height:100%;
    display: none;
    align-items: center;
}

#profileContainer {
    top: 0px;
    right: 0px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    border-radius: 20px;
    background-color: #222222cc;
    border: 1px solid #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ProfileBtns {
    border: none;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 10px;
    background-color: skyblue;
    cursor: pointer;
}

.ProfileBtnsRound {
    border: none;
    width: 25px;
    height: 25px;
    font-size: 10px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff3;
    color: White;
    cursor: pointer;
}

.ProfileBtnsRound:hover {
    background-color: red;
}

#Profile_Avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0px;
}

#Profile_UserName {
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #ffffffe0;
    display:none;
}

#walletContainer {
    position: absolute;
    top: 8px;
    left: -10px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    border-radius: 20px;
    background-color: #222222cc;
    border: 1px solid #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
}

#walletImg {
    width: 22px;
    height: 22px;
}

#RewardsEmailContainer, #FeedbackContainer{
    display: none;
    background-color: #2e303300;
    /* padding-right: 10px;
    padding-left: 10px; */
    width: 100%;
    height: 100%;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    /* border-radius: 18px; */
    text-align: center;
    position: absolute;
    /* Use flexbox */
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center-align vertically */
    z-index: 120;
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
}

#LoadingScreenContainer
{
    display: none;
    background-color: #2e30336c;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 200;
}

#FirstLoadingImage
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#SecondLoadingImage
{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#TopicInput , #DescriptionInput
{
    padding: 10px;
    border: 1px solid #ffff;
    background: #1d1d1d;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
}

#RewardsEmailContainer2, #FeedbackContainer2{
    display: flex;
    width: auto;
    height: auto;
    background-color: rgba(6, 55, 129, 0.842);
    text-align: center;
    position: absolute;
    flex-direction: column;
    align-items: center;
    left: 50%;
    top: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 18px;
    padding-right: 10px;
    padding-left: 10px;
    gap: 15px;

}

#RewardsContainer, #PaymentContainer, #RewardsHistoryContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222cc;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 119;
    backdrop-filter: blur(10px);
    display: none;
}

#RewardsContainer h1, #RewardsHistoryContainer h1, #PaymentContainer h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: #fff;
    /* position: relative; */
    /* top: 0%;
    left: 50%;
    transform: translate(-50%, 0%); */

}

.RewardsContainerClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111111;
    margin: 10px; /* Adjust margin as needed */
    border-radius: 6px;
    width: 210px;
    height: 280px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.RewardsContainerClass img{
    display: block;
    border-radius: 5px;
    width: 150px;
    height: 210px;
    object-fit: contain;
    aspect-ratio: 3/2;
}

.RewardsContainerClass p{
    font-weight: bold;
    color: #ffffff;
}

.RewardsContainerClass button{
    margin-top: 10px; /*Adjust margin as needed */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffff;
    background-color: #1d1d1d;
    width: 98%;
    height: auto;
    border-radius: 5px;
    font-size: 1.0em;
    font-weight: bolder;
    cursor: pointer;
    padding: 2%;
}

.RewardsContainerClass button:hover{
    background-color: #2e2e2e;
    color: rgb(117, 240, 2);
}

#RewardsHolder {
    display: grid;
    background-color: #fd010100;
    width: 95%;
    height: 80%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-gap: 2em;
    padding: 2%;
    scroll-behavior: smooth;
    overflow: auto;
}

#PaymentHolder, #RewardsHistoryHolder{
    width: 95%;
    height: 80%;
    padding: 2%;
    background-color: #fd010100;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    overflow: auto;
    text-align: center;
}

#PaymentloadMoreBTN, #RewardsHistoryloadMoreBTN{

    display: none;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    cursor: pointer;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.2%;
    background-color: rgb(17, 17, 17);
    color: #ffffff;
    text-align: center;
}

#PaymentloadMoreBTN:hover, #RewardsHistoryloadMoreBTN:hover {
    background-color: rgb(53, 53, 53);
    color: #50fd00;
}

#PaymnetHolderTable, #RewardsHistoryHolderTable{
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.0em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#PaymnetHolderTable th , #RewardsHistoryHolderTable th{
    background-color: rgb(17, 17, 17);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

#PaymnetHolderTable td , #RewardsHistoryHolderTable td{
    color: #ffffff;
    text-align: left;
}

#PaymnetHolderTable td, #PaymnetHolderTable th, #RewardsHistoryHolderTable td, #RewardsHistoryHolderTable th
{
    padding: 12px 15px;
}

#PaymnetHolderTable tbody tr, #RewardsHistoryHolderTable tbody tr
{
    /* border-bottom: 1px solid #dddddd; */
    
}

#PaymnetHolderTable tbody, #RewardsHistoryHolderTable tbody
{
    background-color: #2b2b2b;
}

#PaymnetHolderTable tbody:nth-of-type(odd), #RewardsHistoryHolderTable tbody:nth-of-type(odd)
{
    background-color: #1d1d1d;
}

#OptionsButtonContainer{
    
    position: fixed;
    top: 65px;
    left: 20px;
    width: 300px;
    height:auto;
    border-radius: 5px;
    overflow:hidden;
    background-color: #222222cc;
    border: 1px solid #333;
    z-index: 100;
    display:none;
    /* transform: translateX(-100%); */
}

.optionmenus
{
    position:relative;
    width:100%;
    padding:10px;
    text-align: left;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
    color:white;
    border-bottom:1px solid black;
    background-color: #222;
    border:none;
}

.optionmenus:hover
{
    background-color: #106ca1;
}

/* #PurchaseRewardsBTN{
    background: transparent;
    cursor: pointer;
    border: none;
    margin-left: 5px;
}
#RewardsHistoryBTN{
    background: transparent;
    cursor: pointer;
    border: none;
    margin-left: 5px;
}
#FeedbackBTN{
    background: transparent;
    cursor: pointer;
    border: none;
    margin-left: 5px;
}
#PaymentHistoryBTN{
    background: transparent;
    cursor: pointer;
    border: none;
    margin-left: 5px;
} */

#AddVCointBTN {
    position: relative;
    width:23px;
    height:23px;
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* Changed font size to 30px */
    font-weight: 700;
    /* Set the font weight to bold */
    color: #ffffff;
    background: rgb(240, 153, 3);
    /* Make the button transparent */
    border: none;
    border-radius: 50%;
    /* Remove the border */
    cursor: pointer;
    margin-top:-1px;
    /* Add a pointer cursor to indicate it's clickable */
}

.BalanceAdder {
    display: none;
    background-color: #2e3033e8;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 18px;
    text-align: center;
    position: absolute;
    /* Use flexbox */
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center-align vertically */
    z-index: 117;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#AddBalanceCancelButton, #RewardsContainerCancelBTN, #PaymentContainerCancelBTN, #RewardsHistoryContainerCancelBTN {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff3131;
    /* Discord theme color */
    color: #fff;
    /* Text color */
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#AddBalanceCancelButton:hover, #RewardsContainerCancelBTN:hover, #PaymentContainerCancelBTN:hover, #RewardsHistoryContainerCancelBTN:hover {
    background-color: #ce2525;
}

#TenVCoinButton {
    margin-bottom: 10px;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    /* Changed font size to 30px */
    font-weight: 700;
    cursor: pointer;
    background-color: #ff8c00;
    /* Discord theme color */
    color: #fff;
    /* Text color */
    border: none;
    border-radius: 5px;
}

#FiftyVCoinButton {
    margin-bottom: 10px;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    /* Changed font size to 30px */
    font-weight: 700;
    cursor: pointer;
    background-color: #ff8c00;
    /* Discord theme color */
    color: #fff;
    /* Text color */
    border: none;
    border-radius: 5px;
}

#HundredVCoinButton {
    margin-bottom: 10px;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    /* Changed font size to 30px */
    font-weight: 700;
    cursor: pointer;
    background-color: #ff8c00;
    /* Discord theme color */
    color: #fff;
    /* Text color */
    border: none;
    border-radius: 5px;
}


#TenVCoinButton:hover, #FiftyVCoinButton:hover, #HundredVCoinButton:hover {
    background-color: #d47500;
}


#Profile_WalletBalance {
    position: relative;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #ffffffc2;
}

#Game_Multiplier {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
}

#Game_WaitTime {
    position: absolute;
    top: 17%;
    left: 50%;
    min-width: 330px;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 100px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
    padding:10px;
}

#Game_ParticipantsContainer {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    right: 0px;
    top: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.participant {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 4px;
}

.participant_cashedout {
    background-color: rgba(0, 255, 106, 0.676);
}

.participant_blasted {
    background-color: rgba(255, 0, 0, 0.733);
}

.participant_avatar {
    position: absolute;
    left: 0px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    margin-top: -1px;
    border: 3px solid rgba(0, 0, 0, 0.39);
    box-sizing: border-box;
}

.participant_name {
    display: none;
}

.participant_betAmount {
    font-weight: 700;
    font-size: 13px;
    color: #ffffff73;
    margin-left: 4px;
    margin-top: -1px;
}

.participant_cashOutMultiplier {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 10px;
    background-color: #11111196;
    letter-spacing: 2px;
    padding: 5px;
    color: #cccccc;
}

#FeedbackSendButton, #FeedbackcancelButton
{
    border:none;
    background-color: white;
    padding:5px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    cursor:pointer;
}

#PushToTalkBtn
{
    display: none;
    z-index:100;

    position: fixed;
    bottom: 70px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 10px;
    background-color:rgb(255, 0, 119);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;
    cursor:pointer;
}

.notif
{
    position: absolute;
    left:50%;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width:300px;
    transform: translateX(-50%) translateY(0%);
    animation-name: notifanim;
    animation-duration: 2.5s;
    text-align:center;
    padding:5px;
    border-radius: 10px;
    top:500px;
    border:1px solid #ccc6;
}

@keyframes notifanim {
    0%   {top: 500px;}
    10%  {top: -40px;}
    90%  {top: -40px;}
    100% {top: 500px;}
}

.success
{
    background-color: rgba(2, 77, 2, 0.932);
}

.failure
{
    background-color: rgba(170, 31, 68, 0.932);
}