body
{
    margin:0px;
    padding:0px;
    /* background:#111; */
    background: #106ca1;
    overflow: hidden;
}

/* WebKit */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
border-radius: 6px;
background-color: #ffffff25; /* or any color you prefer */
}


#ProfileArea
{
    position:fixed;
    top:20px;
    right:20px;
    z-index:100;
}

#GameArea
{
    position: fixed;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    z-index: 80;
}

#ParticipantsArea
{
    position: fixed;
    width:350px;
    height:calc(100% - 110px);
    right:20px;
    top:90px;
    z-index:50;
}

#BettingControlsArea
{
    position:fixed;
    width:auto;
    padding-left:20px;
    padding-right:20px;
    height:50px;
    bottom:20px;
    border-radius: 20px;
    background-color: #222222cc;
    border: 1px solid #333;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index:100;
}

.GameBtns
{
    position: absolute;
    width:150px;
    height:40px;
    border-radius: 20px;
    left:50%;
    top:-50px;
    transform: translateX(-50%);
    border:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size:20px;
    cursor:pointer;
}

#MakeBet_btn
{
    background-color: aquamarine;
}

#CashOut_btn
{
    background-color:darkorange;
    display:none;
}

.ControlLabels
{
    font-size: 16px;
    color:rgba(255, 255, 255, 0.493);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    padding: 10px;
}

#Game_BetAmountInput, #Game_CashOutMultiplierInput
{
    width:80px;
    height:25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 15px;
    border:none;
    text-align: center;
    background-color: #fffc;
}

#Game_BetAmountInput:disabled, #Game_CashOutMultiplierInput:disabled
{
    background-color: #fff5;
}

#Game_CashOutMultiplierCheck
{
    width:25px;
    height:25px;
    cursor: pointer;
}

#PostLogin
{
   
}

#profileContainer
{
    top:0px;
    right:0px;
    width:auto;
    padding-left:10px;
    padding-right:10px;
    height:50px;
    border-radius: 20px;
    background-color: #222222cc;
    border: 1px solid #333;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}

.ProfileBtns
{
    border:none;
    font-size:17px;
    font-weight:600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px;
    border-radius:10px;
    background-color: skyblue;
    cursor:pointer;
}
.ProfileBtnsRound
{
    border:none;
    width:25px;
    height:25px;
    font-size:10px;
    font-weight:900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:5px;
    border-radius:50%;
    background-color: #fff3;
    color:White;
    cursor:pointer;
}

.ProfileBtnsRound:hover
{
    background-color: red;
}

#Profile_Avatar
{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right:10px;
}

#Profile_UserName
{
    margin-right:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 600;
    color:#ffffffe0;
}

#walletContainer
{
    position: absolute;
    top:8px;
    left:-20px;
    width:auto;
    padding-left:10px;
    padding-right:10px;
    height:35px;
    border-radius: 20px;
    background-color: #222222cc;
    border: 1px solid #333;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    transform: translateX(-100%);
}
#walletImg
{
    width:22px;
    height:22px;
}

#Profile_WalletBalance
{
    position: relative;
    margin-left:5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color:#ffffffc2;
}

#Game_Multiplier
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

#Game_WaitTime
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top:100px;
    color:#fff9;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

#Game_ParticipantsContainer
{
    position: absolute;
    width:100%;
    height:calc(100% - 40px);
    right:0px;
    top:40px;
    overflow-y:auto;
    overflow-x: hidden;
    padding-top:10px;
    padding-bottom:10px;
}

.participant
{
    width:100%;
    height:40px;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 5px;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    margin-bottom: 4px;
}

.participant_cashedout
{
    background-color: rgba(0, 255, 106, 0.676);
}

.participant_blasted
{
    background-color: rgba(255, 0, 0, 0.733);
}

.participant_avatar
{
    position: absolute;
    left:0px;
    border-radius: 50%;
    width:36px;
    height:36px;
    margin-left:10px;
    margin-top:-1px;
    border:3px solid rgba(0, 0, 0, 0.39);
    box-sizing: border-box;
}

.participant_name
{
    display:none;
}

.participant_betAmount
{
    font-weight: 700;
    font-size: 13px;
    color: #ffffff73;
    margin-left:4px;
    margin-top:-1px;
}

.participant_cashOutMultiplier
{
    position: absolute;
    right:0px;
    margin-right:10px;
    font-weight: 500;
    font-size: 10px;
    background-color: #11111196;
    letter-spacing: 2px;
    padding:5px;
    color: #cccccc;
}